.sc-player {
  position: relative;
  top: 25px;
  width:270px;
  height:350px;
  font: 12px Arial, sans-serif;
  background-color: #111;
  color: #fff;
  font-size: 0.7em;
  line-height: 1.4em;
  -moz-box-shadow: 1px 1px 4px #333;
  -webkit-box-shadow: 1px 1px 4px #333;
}

.sc-player a {
  text-decoration: none;
  color: #fff;
}

/* Artworks */

.sc-player .sc-artwork-list{
  width:270px;
  height:270px;
  background: #eee;
  background: -moz-linear-gradient(left bottom, #EEEEEE 20px, #333333 350px) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, right top, left bottom, from(#333), to(#eee));
}

.sc-volume-slider {
  position: absolute;
  top: 355px;
  left: 50px;
  background-color: #e5e5e5;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}


.sc-volume-slider .sc-volume-status{
  background-color: #666;
  border-right: 1px solid #22B573;
}

/* controls */

.sc-player .sc-controls {
  position: absolute;
  top: 320px;
}

.sc-player .sc-controls a {
  color: transparent;
  background: url('../../css/sc-player-standard/img/play-green.png');
}

.sc-player .sc-controls a:hover {
  background: url('../../css/sc-player-standard/img/play-green-hover.png');
}

.sc-player .sc-controls a.sc-pause {
  background: url('../../css/sc-player-standard/img/play-green.png');
}

.sc-player .sc-controls a.sc-pause:hover{
  background: url('../../css/sc-player-standard/img/play-green-hover.png');
}

.sc-player.playing .sc-controls a.sc-pause{
  background: url('../../css/sc-player-standard/img/pause-green.png');
}

.sc-player.playing .sc-controls a.sc-pause:hover{
  background: url('../../css/sc-player-standard/img/pause-green-hover.png');
}  

.sc-player .sc-controls a.sc-next {
  position: absolute;
  left:60px;
  background: url('../../css/sc-player-standard/img/skip-next.png');
}

.sc-player .sc-controls a.sc-next:hover {
  position: absolute;
  left:60px;
  background: url('../../css/sc-player-standard/img/skip-next-hover.png');
}

.sc-player .sc-controls a.sc-prev {
  position: absolute;
  left:-60px;
  background: url('../../css/sc-player-standard/img/skip-prev.png');
}

.sc-player .sc-controls a.sc-prev:hover {
  position: absolute;
  left:-60px;
  background: url('../../css/sc-player-standard/img/skip-prev-hover.png');
}

.sc-time-indicators{
  background: #22B573;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 4px;
}

/* Track listings*/

.sc-player ol.sc-trackslist {
  position: absolute;
  left: 275px;
  top: 220px;
}

.sc-player ol.sc-trackslist li {  
  background: #333;    
  color: #b8e9d3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-transition: background 0.3s ease-in;
}

.sc-player ol.sc-trackslist li:hover {  
  background: #22B573;    
}

.sc-player ol.sc-trackslist li.active{  
  background: #22B573;    
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.sc-player ol.sc-trackslist li.active a {
  color: #fff;
}



/* Track info*/

.sc-player .sc-info{
  background: #333;
  opacity: 0.9;
  color: #fff;
}

.sc-player .sc-info.active {
  position: absolute;
  left: 480px;
  top: 0px;
}

.sc-player .sc-info a {
  color: #fff;
}

.sc-player .sc-info-toggle{
  position: absolute;
  top: 300px;
  background: #22B573;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 4px;
}

.sc-player .sc-info-toggle:hover{
  background: #333;
  color: #fff;
}

.sc-player .sc-info-close{
  background: #22B573;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;
}
