<br />
<div ng-controller="StreamCtrl">
	<ul class="song-card-container" ui:sortable="sortableOptions" ng-model="profile.streamTracks">
		<li class="song-card" ng-repeat="track in profile.streamTracks">
			<div class="song-title">{{track.title}}</div>
			<div class="song-artist">{{track.user.username}}</div>
			<div class="buttons">
				
			</div>
			<div class="song-artwork" ng-click="playFromCard(track)">
				<img ng-src="{{track.artwork_url}}">
				<div class="card-play-pause"><img ng-src="../img/card-{{track.playIconState}}-icon.png" /></div>
			</div>
			<div ng-click="like(track)">Like</div>
		</li>
	</ul>
</div>
