<!doctype html>
<html ng-app="ddPlayer">
  <head>
    <script src="//connect.soundcloud.com/sdk.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/angular-ui.min.js"></script>
    <script type="text/javascript" src="js/angular-ui-sortable.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/underscore.observable.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/c-player.js"></script>
    <script type="text/javascript" src="js/c-pageview.js"></script>
    <script type="text/javascript" src="js/c-playerService.js"></script>
    <script type="text/javascript" src="js/c-profileInfo.js"></script>
    <script type="text/javascript" src="js/c-loggedUser.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.10.1.js"></script>
    <script type="text/javascript" src="js/c-stream.js"></script>
    <script type="text/javascript" src="js/c-likes.js"></script>
    <script type="text/javascript" src="js/c-nav.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="container">
      <div class="nav-bar" ng-controller="NavCtrl">
        <div class="logo"></div>
        <div class="following-btn">Following</div>
        <div class="blogs-btn">Blogs</div>
        <div class="genres-btn">Genres</div>
        <div class="popular-btn">Popular</div>
        <div class="search-input"><input type="text" placeholder="Search" ng-model="searchInput"></div>
        <div class="search-btn" ng-mouseenter="showSearch()" ng-mouseleave="hideSearch()"></div>
        <div class="nav-bar-ctrls" ng-controller="PlayerCtrl">
          <div class="rwd-btn" ng-click="skipBack()"></div>
          <div class="play-btn" ng-click="play()"></div>
          <div class="ffwd-btn" ng-click="skipFwd()"></div>
        </div>
        <div class="calendar-btn">
          <div class="notification-circle"></div>
        </div>
        <div class="profile-btn"></div>
      </div>
      <div class="clear"></div>
    
      <br />

      <div ng-controller="PageViewCtrl">
        <hr />
        <h4>Pages:</h3>
        <div class="homepage"><a href="/">Home</a></div>
        <div ng-repeat="profile in profiles">
          <a ng-href="/profile/{{profile.username}}">{{profile.username}}</a>
        </div>
        <hr />
        <div ng-view></div>
      </div>
    </div>
  </body>
  
</html>
