body {
	width: 100%;
	font-size: 62.5%;
	color: rgb(38, 48, 56);
	background: rgb(221, 221, 221);
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

img {
	max-width: 100%;
}

li {
	list-style-type: none;
}

.container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.clear {
	clear: both;
}

/* Nav Bar Styles */

.nav-bar {
	height: 50px;
	width: 1200px;
	box-shadow: rgb(166, 166, 166) 0px 4px 3px 0px;
	-webkit-box-shadow: rgb(166, 166, 166) 0px 4px 3px 0px;
	-moz-box-shadow: rgb(166, 166, 166) 0px 4px 3px 0px;
	background: rgb(255, 255, 255);
   	font-weight: 300;
   	font-size: 2em;
   	text-align: center;
   	line-height: 50px;
}

.nav-bar .logo {
	background: url("/img/svg/spin-logo.svg") no-repeat;
	background-size: 272.5px;
	background-position: center;
	float: left;
	height: inherit;
	width: 290.5px;
}

.nav-bar .following-btn {
	border-left: 2px solid rgb(218, 218, 218);
	border-right: 2px solid rgb(218, 218, 218);
	float: left;
	height: inherit;
	width: 120px;
}

.nav-bar .blogs-btn {
	border-right: 2px solid rgb(218, 218, 218);
	float: left;
	height: inherit;
	width: 90px;
}

.nav-bar .genres-btn {
	border-right: 2px solid rgb(218, 218, 218);
	float: left;
	height: inherit;
	width: 89px;
}

.nav-bar .popular-btn {
	border-right: 2px solid rgb(218, 218, 218);
	float: left;
	height: inherit;
	width: 98px;
}

.nav-bar .following-btn:hover, .nav-bar .blogs-btn:hover, .nav-bar .genres-btn:hover, .nav-bar .popular-btn:hover {
	color: rgb(188, 58, 39);
	cursor: pointer;
}

.nav-bar .search-input {
	float: left;
	height: inherit;
	width: 163px;
}

.nav-bar .search-input input[type=text] {
	float: right;
	width: 0px;
	background: rgb(218, 218, 218);
	border: none;
	margin: none;
	padding: 0 0 0 0px;
	height: 50px;
	transition: width 1.5s;
	-moz-transition: width 1.5s;
	-webkit-transition: width 1.5s;
}

.nav-bar .search-input input[type=text]:focus {
	outline: none;
}

.nav-bar .search-btn {
	background: url("/img/svg/search.svg") no-repeat;
	background-size: auto 32px;
	background-position: center;
	border-left: 2px solid rgb(218, 218, 218);
	border-right: 2px solid rgb(218, 218, 218);
	float: left;
	height: inherit;
	width: 53px;
}

.nav-bar .search-btn:hover {
	background: url("/img/svg/search-orange.svg") no-repeat;
	background-size: auto 32px;
	background-position: center;
}

.nav-bar .nav-bar-ctrls {
	float: left;
	border-right: 2px solid rgb(218, 218, 218);
	height: inherit;
	width: 156px;
}

.nav-bar .nav-bar-ctrls .rwd-btn {
	background: url("/img/svg/nav-bar-rwd.svg") no-repeat;
	background-size: 36px;
	background-position: center;
	float: left;
	width: 52px;
	height: 50px;
}

.nav-bar .nav-bar-ctrls .rwd-btn:hover {
	background: url("/img/svg/nav-bar-rwd-orange.svg") no-repeat;
	background-size: 36px;
	background-position: center;
	cursor: pointer;
}

.nav-bar .nav-bar-ctrls .play-btn {
	background: url("/img/svg/nav-bar-play.svg") no-repeat;
	background-size: 24px;
	background-position: center;
	float: left;
	width: 52px;
	height: 50px;
}

.nav-bar .nav-bar-ctrls .play-btn:hover {
	background: url("/img/svg/nav-bar-play-orange.svg") no-repeat;
	background-size: 24px;
	background-position: center;
	cursor: pointer;
}

.nav-bar .nav-bar-ctrls .ffwd-btn {
	background: url("/img/svg/nav-bar-fwd.svg") no-repeat;
	background-size: 36px;
	background-position: center;
	float: left;
	width: 52px;
	height: 50px;
}

.nav-bar .nav-bar-ctrls .ffwd-btn:hover {
	background: url("/img/svg/nav-bar-fwd-orange.svg") no-repeat;
	background-size: 36px;
	background-position: center;
}

.nav-bar .calendar-btn {
	background: url("/img/svg/calendar.svg") no-repeat;
	background-size: auto 34px;
	background-position: center;
	float: left;
	border-right: 2px solid rgb(218, 218, 218);
	height: inherit;
	width: 57px;
}

.nav-bar .calendar-btn:hover {
	background: url("/img/svg/calendar-orange.svg") no-repeat;
	background-size: auto 34px;
	background-position: center;
}

.nav-bar .profile-btn {
	background: url("/img/svg/profile-default.svg") no-repeat;
	background-size: 34px;
	background-position: center;
	float: left;
	height: inherit;
	width: 65px;
}

.nav-bar .profile-btn:hover {
	background: url("/img/svg/profile-default-orange.svg") no-repeat;
	background-size: 34px;
	background-position: center;
}

.notification-circle {
	width: 12px;
	height: 12px;
	background: #fff;
	margin: 3px 0 0 33px;
	border-radius: 10px;
	border: 2px solid rgb(188, 58, 39);
	font-size: 0.5em;
	color: rgb(188, 58, 39);
}

.notification-circle p {
	margin: 6px 0 0 0;
	height: inherit;
	line-height: 0;
}

.nav-bar .calendar-btn:hover .notification-circle {
	border: 2px solid rgb(38, 48, 56);
	color: rgb(38, 48, 56);
}

.nav-bar .profile-btn:hover .notification-circle {
	border: 2px solid rgb(38, 48, 56);
	color: rgb(38, 48, 56);
}


/* Song Card Styles */

.song-card-container {
	width: 100%;
}

.song-card {
	float: left;
	width: 274px;
	height: auto;
	margin: 0 24px 24px 0;
	background: #FFF;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: rgb(166, 166, 166) 4px 4px 3px 0px;
}

.song-card .card-buttons-top,
.song-card .card-buttons-bot {
	height: 20px;
}


.song-card .card-buttons-bot .sc-link {
	float: left;
	width: 30px;
}

.song-card .card-buttons-bot .song-respin {
	float: right;
	width: 20px;
}

.song-card .song-title {
	font-size: 1.25em;
	font-weight: bold;
	padding: 4px 0 0 4px;
	width: 70%;
	overflow: hidden;
}

.song-card .song-artist {
	font-size: 1.2em;
	padding: 2px 0 0 4px;
}

.song-card .buttons {
	width: 100%;
	height: 30px;
	margin-top: 20px;
	margin-left: 2.5%;
}

.song-card .buttons .listens {	
	float: left;
	height: inherit;
	font-size: 1.55em;
	padding-left: 28px;
	background: url(../img/svg/listens.svg) no-repeat;
	background-size: auto 60%;
	background-position: left bottom;
	line-height: 47px;
}


.song-card .buttons .like-btn {
	float: left;
	height: inherit;
	font-size: 1.55em;
	padding-left: 26px;
	margin-left: 10px;
	background: url(../img/svg/like.svg) no-repeat left bottom;
	background-size: auto 60%;
	line-height: 47px;
}

.song-card .buttons .like-btn:hover {
	background: url(../img/svg/like-orange.svg) no-repeat left bottom;
	background-size: auto 60%;
	cursor: pointer;
}

.song-card .buttons .comment-btn {
	float: left;
	height: inherit;
	font-size: 1.55em;
	padding-left: 28px;
	margin-left: 12px;
	background: url(../img/svg/comment.svg) no-repeat left bottom;
	background-size: 58.5% auto;
	line-height: 47px;
}

.song-card .buttons .comment-btn:hover {
	background: url(../img/svg/comment-orange.svg) no-repeat left bottom;
	background-size: 58.5% auto;
	cursor: pointer;
}

.song-card .buttons .respin-btn {
	float: right;
	height: inherit;
	width: 30px;
	margin-right: 3%;
	background: url(../img/svg/respin.svg) no-repeat;
	background-size: 60% auto;
	background-position: bottom;
}

.song-card .buttons .respin-btn:hover {
	background: url(../img/svg/respin-orange.svg) no-repeat bottom;
	background-size: 60% auto;
	cursor: pointer;
}


.song-artwork {
	width: 95%;
	height: auto;
	margin: 5px auto;i
}

.song-artwork .card-play-pause {
	display: none;
	position: absolute;
	top: 55%;
	left: 40%;
	width: 40%;	
	height: auto;
	z-index = 1;
	margin: 0 auto;
}

.song-artwork:hover .card-play-pause {
	display: block;
}

/* Profile Nav Styles */

.profile-nav {
	width: 1200px;
	height: 75px;
	background: #fff;
	text-align: center;
	box-shadow: rgb(166, 166, 166) 0px 4px 3px 0px; 
	-moz-box-shadow: rgb(166, 166, 166) 0px 4px 3px 0px;
	-webkit-box-shadow: rgb(166, 166, 166) 0px 4px 3px 0px;
}

.profile-nav .user-info {
	float: left;
	width: 282.5px;
	height: inherit;
	background: url("/img/svg/profile-default.svg") no-repeat;;
	background-position: 5px 50%;
	text-align: left;
}

.profile-nav .user-info .name {
	font-size:2.5em;
	margin: 8px 0 0 75px;
	font-weight: bold;
}

.profile-nav .user-info .location {
	font-size: 1.5em;
	margin: -1px 0 0 76px;
}

.profile-nav .stream-control {
	float: right;
	width: 421px;
	height: inherit;
}

.profile-nav .stream-control .posted {
	float: left;
	height: inherit;
	width: 76px;
	border-right: 2px solidi black;
}

.profile-nav .stream-control .likes {
	float: left;
	height: inherit;
	width: 70px;
}

.profile-nav .stream-control .playlists {
	float: left;
	height: inherit;
	width: 85px;
}

.profile-nav .stream-control .followers {
	float: left;
	height: inherit;
	width: 90px;
}

.profile-nav .stream-control .following {
	float: left;
	height: inherit;
	width: 100px;
}

.profile-nav p.type {
	font-size: 2em;
	margin: 10px 0 0 0;
}

.profile-nav p.amount {
	margin: 0 0 0 0;
	font-size: 2.5em;
	font-weight: bold;
}

.profile-nav .posted:hover, .profile-nav .likes:hover, .profile-nav .playlists:hover, .profile-nav .followers:hover, .profile-nav .following:hover {
	color: rgb(188, 58, 39);
	cursor: pointer;
}

.profile-nav .follow {
	float: right;
	width: 120px;
	height: inherit;
}

.profile-nav .follow .follow-btn {
	float: left;
	margin: 25px 0 0 20px;
	width: 80px;
	height: 22px;
	background: rgb(188, 58, 39);
	color: #fff;
	padding-top: 3px;
	font-size: 1.5em;
}
