body {
	width: 100%;
	font-size: 62.5%;
}

img {
	max-width: 100%;
}

li {
	list-style-type: none;
}

.container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.clear {
	clear: both;
}

/* Nav Bar Styles */

.nav-bar {
	background: #fff;
	width: 100%;
	height: 50px;
	box-shadow: 0 4px 3px #A6A6A6;
	-webkit-box-shadow: 0 4px 3px #A6A6A6;
	-moz-box-shadow: 0 4px 3px #A6A6A6;
}

.nav-bar .nav-logo {
	float: left;
	width: 229px;
	height: inherit;
	border-right: 2px solid #DADADA;
}

.nav-bar .nav-logo img {
	width: 196px;
	padding-top: 11.5px;
	padding-left: 16.5px;
}

.nav-bar .nav-following {
	float: left;
	width: 134px;
	height: inherit;
	border-right: 2px solid #DADADA;
	font-size: 1.4em;
	text-align: center;
	line-height: 50px;
}

.nav-bar .nav-blogs {
	float: left;
	width: 95px;
	height: inherit;
	border-right: 2px solid #DADADA;
	font-size: 1.4em;
	text-align: center;
	line-height: 50px;
}

.nav-bar .nav-genres {
	float: left;
	width: 99px;
	height: inherit;
	border-right: 2px solid #DADADA;
	font-size: 1.4em;
	text-align: center;
	line-height: 50px;
}

.nav-bar .nav-player-ctrls {
	float: right;
	width: 151px;
	height: inherit;
	border-right: 2px solid #DADADA;
	border-left: 2px solid #DADADA;
}

.nav-bar .nav-player-ctrls .player-skip-back {
	float: right;
	width: 32px;
	height: 22px;
	margin-top: 14px;
	margin-right: 14px;
}

.nav-bar .nav-player-ctrls .player-play {
	float: right;
	width: 19px;
	height: 22px;
	margin-top: 14px;
	margin-right: 12px;
}

.nav-bar .nav-player-ctrls .player-skip-fwd {
	float: right;
	width: 32px;
	height: 22px;
	margin-top: 14px;
	margin-right: 21px;
}

.nav-bar .nav-profile {
	float: right;
	width: 73px;
	height: inherit;
}

.nav-bar .nav-profile img {
	width: 28px;
	height: 28px;
	margin: 11px 0 0 22.5px;
}

.track-artwork {
	width: 100px;
	height: 100px;
	margin: 0 0 5px 0;
}

.player-controls > * {
	float:left;
	margin: 0px 5px;
}

.song-progress-wrapper {
	width: 200px;
	height:20px;
	background:black;
}

.song-progress {
	height:17px;
	background:blue;
}

/* Song Card Styles */

.song-card-container {
	width: 100%;
}

.song-card {
	float: left;
	width: 200px;
	height: 200px;
	border: 3px solid #000;
	margin: 10px 10px;
	padding: 3px;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
}

.song-card .card-buttons-top,
.song-card .card-buttons-bot {
	height: 20px;
}

.song-card .card-buttons-top .card-handle {
/*	display: none; */
	float: left;
	width: 20px;
	height: 20px;
}

.song-card .card-buttons-top .card-delete {
/*	display: none; */
	float: right;
	width: 20px;
	height: 20px;
}

/*.song-card:hover .card-buttons-top .card-handle {
	display: block;
}

.song-card:hover .card-buttons-top .card-delete {
	display: block;
} */

.song-card .card-buttons-bot .sc-link {
	float: left;
	width: 30px;
}

.song-card .card-buttons-bot .song-respin {
	float: right;
	width: 20px;
}

.song-card .song-artist {
	font-size: 20px;
}

.song-artwork {
	width: 100px;
	height: 100px;
	margin: 5px auto;
}
.song-artwork .card-play-pause {
	display: none;
	position: relative;
	top: -79px;
	left: 25px;
	width: 50px;
	height: 50px;
	z-index = 1;
}

.song-artwork:hover .card-play-pause {
	display: block;
}
